@mixin bottomEffect(){
    &:hover{
        color: #6415FF;
        transition: all ease-in-out .5s;
    }
    &::after{
        content: "";
        width: 100%;
        box-sizing: border-box;
        height: 2px;
        margin-bottom: -.1rem;
        background-color: #6415FF;
        transition: all ease-in-out .5s;
    }
    &:hover::after{
        display: block;
        transition: all ease-in-out .5s;
    }
}

nav{
    display: flex;
    justify-content: space-between;

    align-items: center;
    width: 100vw;
    height: 6rem;
    >.logo{
        display: flex;
        justify-content: space-between;
        width: 9%;
        align-items: center;
        margin-left: 2rem;


        >.t{
            background-color: #6415FF;
            
            display: grid;
            place-items: center;

            width: 2rem;
            height: 2rem;
            border-radius: .3rem;

            font-size: 1rem;
            font-weight: 600;
            color: #fff;
        }
        >.tReact{
            font-size: 1rem;
            font-weight: 600;
            color: rgb(74, 73, 73);
            &:hover{
                color: #6415FF;
            }
        }
    }

    >.right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        color: rgb(74, 73, 73);
        font-weight: 700;

        >.ul{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            width: 70%;
           

            
            list-style: none;
            li{
                transition: all ease-in-out .5s;

                
               @include bottomEffect()

            }
        }

        .login{
            display: flex;
            justify-content: space-around;
            align-items: center;

            width: 30%;

            >.loginBtn{
                @include bottomEffect()
            }

            >.signupBtn{
                background-color: #5011CC;
                width: 7.5rem;
                border-radius: 1.4rem;
                &:hover{
                    background-color: #590df2;
                }
            }
        }
    }
}
